body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.linhaSuperior{
    display: flexbox;
    background-color: rgb(30, 146, 146);
    height: 4vh;
}

div.nomePrincipal{
    text-align: center;
}

div.caixa1{
    height:900px;
    width: 50%;
    background-color:rgb(255, 255, 255);
    margin-left: 20vh;
}

div.caixa2{
    height:900px;
    width: 50%;
    margin-right: 20vh;
    margin-left: 3vh;
    background-color:rgb(255, 255, 255);
}

div.conteudo{
    margin-top: 5vh;
    display: flex;
    font-size: 0.9em;
}

div.linhaInferior{
    height: 2px;
    margin-top: 5vh;
    margin-left: 20vh;
    margin-right: 20vh;
    background-color: rgb(30, 146, 146);
}

div.linhaDeCaixa{
    margin-top: 2vh;
    height: 4px;
    width: 7vh;
    background-color: rgb(30, 146, 146);
}